<div class="dark">

    <div class="container">
      <!-- centers content -->
      <section class=" blog-cards">
        <div class="logo">
          <img
            class="img-fluid one-click-logo"
            src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543403541_1543403541_Logo_web.png"
          />
    
          <h2 class="top-website">Dental App</h2>
        </div>
        <!-- logo -->
      </section>
    
      <!--
        **************************************************************************************************************************************
      -->
      <!-- blog1 -->
      <!--
        **************************************************************************************************************************************
      -->
    
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <img
              class="img-fluid thumbnail-img"
              src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542803203_1542803203_Fotolia_120689534_Subscription_Monthly_XXL.jpg"
            />
    
            <div class="blog-entry pt-4">
             <p>Showcase your Dental products and service using image galleries, or through mobile marketing push message advertising.</p>
            <p>Smart video marketing plays Dental video right in your client's hand even in offline</p>
            <p>Endless possibilities works for your Dental business, share Dental special offers, coupons referrals with customers where ever they
                may be.</p>
            <p>One click login introduces yourself to using a Dental App and gets access to all our features quickly and easily.</p>
            </div>
            <!-- blog-content -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog2 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542803394_1542803394_Sketch_concept_SocialMEdiaAdvert_11bl.jpg"
                  />
    
                  <h2 class="gym-title ">
                      Aquire New Patients Marketing  on Social Media
                  </h2>
    
                  <div class="blog-entry">
                    <p>
                        .As a small business owner you have the dental experise that dental patients want, why not encourage your Dental app users to share your Dental app on social media by giving incentivised recommedations with new patients discounts to aquire new patients and befit your existing patients..
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
            </div>
            <!-- col-12 -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog3 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542803592_1542803592_Sketch_Circular_142_appDevelppment.jpg"
                  />
    
                  <h2 class="gym-title">Your Dental App</h2>
    
                  <div class="blog-entry">
                    <p>
                        Create opportunities to acquire new clients daily by reaching out to them within your Dental app. 
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
            </div>
            <!-- col-12 -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog4 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542804174_1542804174_Fotolia_100506477_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">
                      Mobile Marketing Use Web Push Dental Marketing Messages
                  </h2>
    
                  <div class="blog-entry">
                    <p>
                        Web push Dental messages are a brilliant marketing tool to use in your mobile advertising to engage Dental patients in real-time marketing, displaying special offers, coupons, making announcements based on user behavior.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog5 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542804908_1542804908_shutterstock_239296387.jpg"
                  />
    
                  <h2 class="gym-title">Stay Always Connected With Dental Push Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                        Endless possibilities of working for your Dental business, share Dental special offers, referrals with patients wherever they may be.</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog6 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542805425_1542805425_Fotolia_123405108_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Targeting More Patients </h2>
    
                  <div class="blog-entry">
                    <p>
                        Build new segments of your consumer base by focusing on targeting more dental consumers.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog6 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542808913_1542808913_Fotolia_132774934_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title"> Personalized Dental Web Push Messages </h2>
    
                  <div class="blog-entry">
                    <p>
                        Use personalized Dental web push messages to connect with users, even if they are not in your Dental app they can still view these welcoming messages and innovative offers on their smartphones.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog7 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542809607_1542809607_Fotolia_40601619_Subscription_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Sending Timely Dental Marketing Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                        Automate your Dental Web app promotions by scheduling dental promotions to go out at a time that is convenient for users to view your marketing content.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog8 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542812977_1542812977_MOCK_UP_smartphone_in_hands.jpg"
                  />
    
                  <h2 class="gym-title">Video Dental App Marketing</h2>
    
                  <div class="blog-entry">
                    <p>
                        Video Dental app marketing makes great business since it's a great platform to engage and collect qualified leads as you acquire patients converting them from prospects as they like your Dental videos and download your Dental app.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog9 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542814051_1542814051_Fotolia_86169661_Subscription_Monthly_L.jpg"
                  />
    
                  <h2 class="gym-title">Video Dental App Comments</h2>
    
                  <div class="blog-entry">
                    <p>
                        Read detail consumers comments on how your Dental videos are performing and what your audience think about them.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog10 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542815272_1542815272_Fotolia_111119360_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Integrate Online Dental Booking Requests</h2>
    
                  <div class="blog-entry">
                    <p>
                        New or existing patients can interact with your dentistry  by sending an inquiry or requesting a  Dental booking as they view your menu of Dental treatments or prices it's an easy and quick way to provisionally book a Dental appointment. 
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 11 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542815944_1542815944_shutterstock_244942996.jpg"
                  />

                  <h2 class="gym-title">Reduce Dental Patient No-Shows</h2>
    
                  <div class="blog-entry">
                    <p>
                        Send appointment reminders to your Dental patients wherever they are and reduce no-shows.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 12 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542816283_1542816283_Sketch_Circular_135_appDevelppment.jpg"
                  />
    
                  <h2 class="gym-title">Makes Great Dental Business Sense</h2>
    
                  <div class="blog-entry">
                    <p>
                        Everyday acquiring new and retaining existing patients by  creating a positive reaction to your  Dental products and service</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 13 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542817248_1542817248_shutterstock_281652062.jpg"
                  />
    
                  <h2 class="gym-title">Build Your Dental Brand 24/7</h2>
    
                  <div class="blog-entry">
                    <p>
                        By using a dental Marketing app,  you can showcase Dental videos, use web Dental app messages and loyalty rewards as you build your Dental Brand Awareness on consumers smartphones right in your patients hand even in offline mode.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 14 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543271774_1543271774_Fotolia_83538473_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Manage your Dental business in your app</h2>
    
                  <div class="blog-entry">
                    <p>
                        Ask questions of your data and find out in real time how your Dental business is performing
                    </p>
                    <p>Create analytics that will help you decide further Dental marketing strategies.</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            
            
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 18 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543013035_1543013035_Fotolia_138128473_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Feature Packed</h2>
    
                  <h3 class="text-center">
                    On their smartphones as a badge of honor.
                  </h3>
    
                  <div class="blog-entry">
                    <p>
                      Every feature included in our app for Gym have been developed
                      to grow your business.<br />
                      Display all your relevant information such as opening hours,
                      locations with driving directions, special offers and more.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 19 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543350032_1543350032_Sketch_concept_ProjectManagement_0108.jpg"
                  />
    
                  <h2 class="gym-title">One Click Your Gym App Logo</h2>
    
                  <div class="blog-entry">
                    <p>
                      Gym members ware your Gym Logo working as your fully
                      functional downloaded Gym app displaying as a badge of honor
                      on their smartphone.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
    
          <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <img
                  class="img-fluid thumbnail-img"
                  src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543328919_1543328919_findBestSolution4u_20.jpg"
                />
    
                <h2 class="text-center">
                  With One App Request a Free Consultation
                </h2>
    
                <div class="blog-entry">
                  <p>
                    Our experts will analyze your business model and work with you
                    to build your business hight highly functional Gym App
                  </p>
                </div>
                <!-- blog-content -->
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->
    
        <!--
          ---******************************************************************************************************************************
        -->
    
        <!-- contact form -->
        
      </div>
      <!-- container -->
    </div>
    </div><!--dark-->
