<div class="footer-bottom">
  <p>All Right Reserved By One App © 2017 </p>
  
  <!--social icons-->
    <div class="social-icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-snapchat-ghost"></i>
      <i class="fab fa-instagram"></i>
  </div> 
  
  
  
  
  
  <!--footer bottom Scroll to top-->
   
  
  <!-- <div class="footer-bottom">
  <p><a class="top" href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
    <i class="fa fa-chevron-up" aria-hidden="true"></i></a><br>Scroll to Top </p>
  </div>  -->
  
  
  
  
  
  
  
  
  </div>
