<div class="dark">

    <div class="container">
    
      <!-- centers content -->
      <section class=" blog-cards">
         
        <div class="logo">
          <img
            class="img-fluid one-click-logo"
            src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543403541_1543403541_Logo_web.png"
          />
    
          <h2 class="top-website">Vet App</h2>
        </div>
        <!-- logo -->
      </section>
    
      <!--
        **************************************************************************************************************************************
      -->
      <!-- blog1 -->
      <!--
        **************************************************************************************************************************************
      -->
    
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <img
              class="img-fluid thumbnail-img"
              src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543016047_1543016047_107404547_-_5760x3840.jpg"
            />
    
            <div class="blog-entry pt-4">
             <p>Showcase your Veterinary products and service using image galleries, or through mobile marketing push message advertising.</p>
            <p>Smart video marketing plays Veterinary video display your treatments right in your clients hand even in offline mode.</p>
            <p> Endless possibilities work for your Veterinary business, share Veterinary special offers, coupons, referrals with clients where ever they may be</p>
            <p>One click login introduces yourself to using a Veterinary App and gets access to all our features quickly and easily.</p>
            </div>
            <!-- blog-content -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog2 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543016747_1543016747_dreamstimemaximum_24367926.jpg"
                  />
    
                  <h2 class="gym-title ">
                      Integrate Online Booking Requests
                  </h2>
    
                  <div class="blog-entry">
                    <p>
                        New or existing clients can interact with your Veterinary by sending an inquiry or requesting a booking as they view your menu of treatments or prices it's an easy and quick way to provisionally book a Veterinary appointment.
                    </p>
                    
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
            </div>
            <!-- col-12 -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog3 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543333849_1543333849_Fotolia_111862046_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Reduce Client No-Shows</h2>
    
                  <div class="blog-entry">
                    <p>
                        Send appointments reminders to your Veterinary clients wherever they are and reduce no-shows
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
            </div>
            <!-- col-12 -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog4 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543334408_1543334408_Fotolia_114531995_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">
                      Manage your Veterinary Practice in your app
                  </h2>
    
                  <div class="blog-entry">
                    <p>
                        Ask questions of your data and find out in real time how your practice  is performing, create analytics that will help you decide further marketing strategies.  </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog5 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543335298_1543335298_Fotolia_93387395_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Mobile Marketing Use Web Push Veterinary marketing Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                     Web push Veterinary messages are a brilliant marketing tool to use in your mobile advertising to engage Veterinary clients in real-time marketing, displaying special offers, coupons, making announcements based on user behavior. </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog6 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543342101_1543342101_Fotolia_71103166_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Stay Always Connected With Push Veterinary Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                        Endless possibilities of working for your Veterinary business, share Veterinary special offers, referrals with clients wherever they may be
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog6 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543337284_1543337284_dreamstimemaximum_11785222.jpg"
                  />
    
                  <h2 class="gym-title"> Target More Veterinary Customers</h2>
    
                  <div class="blog-entry">
                    <p>
                        Build new segments of your Veterinary consumer base by focusing on targeting more clients
                      </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog7 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1542917771_1542917771_shutterstock_183313541.jpg"
                  />
    
                  <h2 class="gym-title">Personalize Veterinary Web Push Messages</h2>
    
                  <div class="blog-entry">
                    
                        <p> Use personalized Veterinary web push messages to connect with users, <br>even if they are not in your Veterinary app they can still view these welcoming messages and innovative offers on their smartphones</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog8 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543340109_1543340109_Fotolia_94228700_Subscription_Monthly_XXL.jpg"/>
                  

    <h2 class="gym-title">Sending Timely Veterinary Messages</h2>
                  <div class="blog-entry">
                    <p>
                        Automate your Veterinary Web app promotions by scheduling Veterinary promotions to go out at a time that is convenient for users to view your marketing content.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog9 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543341807_1543341807_MOCK_UP_smartphone_in_hands.jpg"/>
    
                  <h2 class="gym-title">Video Veterinary App Marketing</h2>
    
                  <div class="blog-entry">
                    <p>
                        Video Veterinary app marketing makes great business sense, it's a great platform designed to engage and collect qualified leads<br> as you acquire clients converting them from prospects as they like your  Veterinary videos and download your Veterinary  app
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog10 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543343161_1543343161_dreamstimemaximum_10394527.jpg"
                  />
    
                  <h2 class="gym-title">Video Veterinary Comments</h2>
    
                  <div class="blog-entry">
                    <p>
                        Read Veterinary consumers comments on how your Veterinary videos are performing and what your audience think about them    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 11 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543344483_1543344483_Fotolia_52331725_Subscription_Monthly_L.jpg"
                  />

                  <h2 class="gym-title">Manage your Veterinary practice in your app</h2>
    
                  <div class="blog-entry">
                    <p>
                        Ask questions of your data and find out in real time how your Veterinary practice is performing    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 12 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543344884_1543344884_Sketch_concept_SocialMEdiaAdvert_11bl.jpg"
                  />
    
                  <h2 class="gym-title">Acquire New  Veterinary Patients Marketing on Social Media</h2>
    
                  <div class="blog-entry">
                    <p>
                        As a small business owner you have the Veterinary expertise patients want, why not encourage your Veterinary  app users to share your Veterinary app on social media by giving incentivized recommendations with new patients discounts to acquire new patients and benefit your existing patients</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 13 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543345690_1543345690_Sketch_Circular_135_appDevelppment.jpg"
                  />
    
                  <h2 class="gym-title">Makes Great Veterinary Business Sense</h2>
    
                  <div class="blog-entry">
                    <p>
                        Everyday acquiring new and retaining existing patients by creating a positive reaction to your Veterinary products and service.   </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 14 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543346351_1543346351_Fotolia_84086937_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Build Your Veterinary Practice Brand 24/7</h2>
    
                  <div class="blog-entry">
                    <p>
                    By using a Veterinary marketing app, you can showcase dental videos, use web Veterinary app messages and loyalty rewards as you build your Veterinary Practice Brand Awareness on consumers smartphones right in your clients hand even in offline mode.
                    </p>
                    
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            
            
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 18 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543347194_1543347194_findBestSolution4starz_02.jpg"/>
    
                  <h2 class="gym-title">Make Great Dental Practice Business Sense</h2>
    
                 
    
                  <div class="blog-entry">
                    <p>
                        Every day your business is acquiring new and retaining existing patients by creating a positive reaction to your Veterninary practice products and service.  </p>
                  <p> By using video Veterinary marketing, web app messages and loyalty rewards as you build your Veterinary practice Brand Awareness on consumer smartphones right in your client's hand even in an offline mode</p>
                  
                  
                  
                  
                      </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            
            
            
            
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 19 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543348467_1543348467_Fotolia_70046445_Subscription_XXL.jpg"
                  />
    
                  <h2 class="gym-title">One Click Installation</h2>
    
                  <div class="blog-entry">
                    <p>
                        One-Click login introduces yourself to using the veterinary app and gets access to all our features quickly and easily.
                    </p>
                    <p>Clients ware your Veterinary app on their smartphone as a badge of honor.</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
    
       



         <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543331189_1543331189_Fotolia_138128473_Subscription_Monthly_XXL.jpg"
                  />
      
                  <h2 class="gym-title">
                      Feature Packed
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                        Every feature included in our app for Cafe have been developed to grow your business. 
                    </p>

                    <p>
                        Display all your relevant information such as opening hours,  location with driving directions, special offers and more
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->


             <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543331755_1543331755_Sketch_concept_ProjectManagement_0108.jpg"
                  />
      
                  <h2 class="gym-title">
                      One Click Your Night Club App Logo
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                        Cafe customers ware your Cafe Logo working as your fully functional downloaded Cafe app displaying a badge of honor on their smartphone 24/7.
                    </p>

                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->



            <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543332110_1543332110_findBestSolution4u_20.jpg"
                  />
      
                  <h2 class="gym-title">
                      Request a Free Consultation
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                        Our experts will analyze your business and show how a Sappsumma app will benefit you
                    </p>

                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->



            <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <img
                      class="img-fluid thumbnail-img"
                      src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542530199_1542530199_Fotolia_84924685_Subscription_Monthly_XXL.jpg"
                    />
        
                    <h2 class="gym-title">
                        One Click Recommendations
                    </h2>
        
                    <div class="blog-entry">
                      <p>
                          To recommend just click share in the app it simple to use.
                      </p>
  
                    </div>
                    <!-- blog-content -->
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
         
    
        <!--
          ---******************************************************************************************************************************
        -->
    
        <!-- contact form -->
        
      </div>
      <!-- container -->
    </div>
    </div><!--dark-->

