<div class="dark">

<div class="container">
  <!-- centers content -->
  <section class=" blog-cards">
    <div class="logo">
      <img
        class="img-fluid one-click-logo"
        src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543403541_1543403541_Logo_web.png"
      />

      <h2 class="top-website">Car Mechanic</h2>
    </div>
    <!-- logo -->
  </section>

  <!--
    **************************************************************************************************************************************
  -->
  <!-- blog1 -->
  <!--
    **************************************************************************************************************************************
  -->

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <img
          class="img-fluid thumbnail-img"
          src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543428779_1543428779_Fotolia_106760351_Subscription_Monthly_XXL.jpg"
        />

        <div class="blog-entry pt-4">
         <p>Showcase your garage products and service using galleries, or through mobile marketing Mechanic push message advertising.</p>
        <p>Smart video marketing plays Mechanic video right into your customer's hand even in offline mode.</p>
        <p>Endless possibilities work for your Garage business, share Garage special offers, coupons referrals with customers wherever they may be.</p>
        <p>One click login introduces yourself to using a Mechanic App and gets access to all our features quickly and easily</p>
        </div>
        <!-- blog-content -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog2 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543414010_1543414010_Sketch_Circular_142_appDevelppment.jpg"
              />

              <h2 class="gym-title ">
                Your Mechanic App
              </h2>

              <div class="blog-entry">
                <p>
                  Create opportunities to acquire new customers daily by reaching out to them within your Mechanic app.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
        </div>
        <!-- col-12 -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog3 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543414414_1543414414_Fotolia_53424120_Subscription_Monthly_XXL.jpg"
              />

              <h2 class="gym-title">Mobile Marketing Use Web Push Marketing Mechanic Messages</h2>

              <div class="blog-entry">
                <p>
                  Web push messages are a brilliant marketing tool to use in
                  your mobile advertising to engage Gym members in real-time
                  marketing, displaying special offers, coupons, making
                  announcements based on user behavior.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
        </div>
        <!-- col-12 -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog4 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543427952_1543427952_Fotolia_144450473_Subscription_Monthly_XL.jpg"
              />

              <h2 class="gym-title">
                Stay Always Connected With Garage Push Messages
              </h2>

              <div class="blog-entry">
                <p>
                  Endless possibilities of working for your Night Club business, share Club special offers, referrals with members wherever they may be.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog5 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543416079_1543416079_Fotolia_97272573_Subscription_Monthly_XL.jpg"
              />

              <h2 class="gym-title">Targeting More Garage Customers</h2>

              <div class="blog-entry">
                <p>
                  Build new segments of your consumer base focusing on targeting more customers</p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog6 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543416723_1543416723_Fotolia_120157356_Subscription_Monthly_XXL.jpg"
              />

              <h2 class="gym-title">It's All About Your Garge Customer</h2>

              <div class="blog-entry">
                <p>
                  Use personalized web Garage push messages to contact with users, even if they are not in your Mechanic app  they can still view these welcoming messages and innovative offers on their smartphones.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog6 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543427824_1543427824_Fotolia_143573285_Subscription_Monthly_XL.jpg"
              />

              <h2 class="gym-title">Sending Timely Marketing Messages</h2>

              <div class="blog-entry">
                <p>
                  .Automate your Garge app promotions by scheduling garage promotions to go out at a time that is convenient for users to view your marketing content.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog7 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543422973_1543422973_Sketch_Circular_144_appDevelppment.jpg"
              />

              <h2 class="gym-title">Video Mechanic App Marketing</h2>

              <div class="blog-entry">
                <p>
                  Video app marketing makes great business sense since it's a great platform to engage and collect qualified leads as your acquire customers converting them from prospects as they like your Mechanic videos and download your Mechanic app.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog8 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543423606_1543423606_Fotolia_113156294_Subscription_Monthly_XXL.jpg"
              />

              <h2 class="gym-title">Video Mechanic App Comments</h2>

              <div class="blog-entry">
                <p>
                  Read consumer comments on how your Mechanic Videos are performing and what your audience think about them.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog9 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543424200_1543424200_Fotolia_94974567_Subscription_Monthly_XXL.jpg"
              />

              <h2 class="gym-title">Video Mechanic App Measurement</h2>

              <div class="blog-entry">
                <p>
                  . Measure the impact your Mechanic videos are having by understanding how you can improve their content by creating better product offerings.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- blog10 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543488212_1543488212_Fotolia_132774934_Subscription_Monthly_XXL.jpg"
              />

              <h2 class="gym-title">Smart Gym Video Marketing</h2>

              <div class="blog-entry">
                <p>
                  A picture is worth 1000 words a video is worth a million,
                  video app users get to see and hear about what your Gym does
                  on the move as they play your Gym video right into their hands
                  even in offline mode.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 11 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543569150_1543569150_Fotolia_93404424_Subscription_Monthly_XXL.jpg"
              />

              <div class="blog-entry">
                <p>
                  One click login introduces yourself to using the Gym app and
                  gets access to all-our features.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 12 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543934126_1543934126_Sketch_Circular_159_appDevelppment.jpg"
              />

              <h2 class="gym-title">Integrate Online Gym Booking Requests</h2>

              <div class="blog-entry">
                <p>
                  New and existing members can interact with your Gym by sending
                  an inquiry or requesting a Gym booking as they view your menu
                  of Gym class activities or prices it's an easy and quick way
                  to provisionally book a Gym class appointment.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 13 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543424764_1543424764_shutterstock_341148710.jpg"
              />

              <h2 class="gym-title">Reduce Gym Members Class No-Shows</h2>

              <div class="blog-entry">
                <p>
                  Send appointment or class reminders to your Gym Members
                  wherever they are and reduce no-shows
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 14 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543323477_1543323477_Sketch_Circular_135_appDevelppment.jpg"
              />

              <h2 class="gym-title">Make great Business Sense</h2>

              <div class="blog-entry">
                <p>
                  Everyday acquiring new and retaining existing members by
                  creating a positive reaction to your Gym products and service.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 15 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543489459_1543489459_Fotolia_51202174_Subscription_XXL.jpg"
              />

              <h2 class="gym-title">Manage Your Gym Business In Your App</h2>

              <div class="blog-entry">
                <p>
                  Ask questions of your data and find out in real time how your
                  Gym business is performing.<br />
                  Create analytics that will help you decide further App
                  marketing strategies.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 16 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543344884_1543344884_Sketch_concept_SocialMEdiaAdvert_11bl.jpg"
              />

              <h2 class="gym-title">
                Acquire New Members Marketing on Social Media
              </h2>

              <div class="blog-entry">
                <p>
                  As a small business owner you have the Gym exercise and
                  nutrition experience that Gym members want, why not encourage
                  your Gym app users to share your Gym app on Social media by
                  giving incentivized recommendations with new members discounts
                  to acquire new members and benefit your existing members.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 17 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543577278_1543577278_Fotolia_63142983_Subscription_XXL.jpg"
              />

              <h2 class="gym-title">One Click Installation</h2>
              <h2 class="gym-title">Enables members to wear your Gym App</h2>
              <img
                class="img-app-badge"
                src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543925432_1543925432_350x350_Best_Weight_Loss_Apps-GymGoal_Pro.jpg"
              />
              <h3 class="text-center">
                On their smartphones as a badge of honor.
              </h3>

              <div class="blog-entry">
                <p>
                  As a small business owner you have the Gym exercise and
                  nutrition experience that Gym members want, why not encourage
                  your Gym app users to share your Gym app on Social media by
                  giving incentivized recommendations with new members discounts
                  to acquire new members and benefit your existing members.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 18 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543013035_1543013035_Fotolia_138128473_Subscription_Monthly_XXL.jpg"
              />

              <h2 class="gym-title">Feature Packed</h2>

              <h3 class="text-center">
                On their smartphones as a badge of honor.
              </h3>

              <div class="blog-entry">
                <p>
                  Every feature included in our app for Gym have been developed
                  to grow your business.<br />
                  Display all your relevant information such as opening hours,
                  locations with driving directions, special offers and more.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 18 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543013035_1543013035_Fotolia_138128473_Subscription_Monthly_XXL.jpg"
              />

              <h2 class="gym-title">Feature Packed</h2>

              <h3 class="text-center">
                On their smartphones as a badge of honor.
              </h3>

              <div class="blog-entry">
                <p>
                  Every feature included in our app for Gym have been developed
                  to grow your business.<br />
                  Display all your relevant information such as opening hours,
                  locations with driving directions, special offers and more.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->

        <!--
          **************************************************************************************************************************************
        -->
        <!-- Blog 19 -->
        <!--
          **************************************************************************************************************************************
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid thumbnail-img"
                src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543350032_1543350032_Sketch_concept_ProjectManagement_0108.jpg"
              />

              <h2 class="gym-title">One Click Your Gym App Logo</h2>

              <div class="blog-entry">
                <p>
                  Gym members ware your Gym Logo working as your fully
                  functional downloaded Gym app displaying as a badge of honor
                  on their smartphone.
                </p>
              </div>
              <!-- blog-content -->
            </div>
            <!-- blog-content -->
          </div>
          <!-- col-12 -->
        </div>
        <!-- card-body -->
      </div>
      <!-- card -->

      <!-- Blog 20 -->
      <!--
        **************************************************************************************************************************************
      -->

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <img
              class="img-fluid thumbnail-img"
              src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543328919_1543328919_findBestSolution4u_20.jpg"
            />

            <h2 class="text-center">
              With One App Request a Free Consultation
            </h2>

            <div class="blog-entry">
              <p>
                Our experts will analyze your business model and work with you
                to build your business hight highly functional Gym App
              </p>
            </div>
            <!-- blog-content -->
          </div>
          <!-- blog-content -->
        </div>
        <!-- col-12 -->
      </div>
      <!-- card-body -->
    </div>
    <!-- card -->

    <!--
      ---******************************************************************************************************************************
    -->

    <!-- contact form -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="contact-heading">
              <h2>Contact Us</h2>
              <hr class="white-line" />
            </div>
            <!-- contact-heading -->
          </div>
          <!-- col-md-12 -->
        </div>
        <!-- row -->

        <div class="row">
          <div class="col-md-8">
            <div class="form-container">
              <form>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter name"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>

                <div class="form-group">
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="5"
                    placeholder="Enter Your Message"
                  ></textarea>
                </div>
                <div class="button-contact">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!-- button contact -->
              </form>
            </div>
            <!-- form-container -->
          </div>
          <!-- col-md--8 -->

          <div class="col-md-4"></div>
        </div>
      </div>
    </section>
  </div>
  <!-- container -->
</div>
</div><!--dark-->