<!--Logo Lives template-->



<section class="app-marketing">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid img-marketing"
          src="https://oneappwebsite.firebaseapp.com/assets/images/fingertips.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  

  
  
  
  <section class="app-story-blog">
      <div class="row text-center">
       
      <div class="col-md-12 text-center">
          <h2 class="story-headline">Your Business App  </h2> 
          <span class="green-text">For Shopping</span> 
          
        <p>Providing easy to use e-Commerce transaction<br>
            for whatever business you are.<br>
            Available right to your customers Fingertips.</p>
      </div>
      </div>
      </section>
  
  
      <section class="app-bstory">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <img
                class="img-fluid"
                src="https://oneappwebsite.firebaseapp.com/assets/images/slow-days.jpg"
              />
        
            </div>
          </div>
        </section>


        <section class="app-story-blog">
            <div class="row text-center">
             
            <div class="col-md-12 text-center">
                <h2 class="story-headline">No Need For <span class="green-text">Slow Business Days?</span></h2> 
           
            <p>Use <span class="green">Your Business App</span> with a speedy response,<br>
                constantly building and rewarding customer engagement through<br>
                your own branded app, that works on <span class="green">IOS or Android</span> platforms.</p>
          
          
            </div>
            </div>
            </section>


            <section class="app-bstory">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <img
                      class="img-fluid"
                      src="https://oneappwebsite.firebaseapp.com/assets/images/top-of-mind.jpg"
                    />
              
                  </div>
                </div>
              </section>


              <section class="app-story-blog">
                  <div class="row text-center">
                   
                  <div class="col-md-12 text-center">
                      <h2 class="story-headline">Stay Top Of Mind <span class="green-text">With Your Community</span></h2> 
                    
                     <p> Our Dynamic apps make your business stand out from the crowd through<br>
                      fast delivery and incorporating stunning visual design keeping your<br>
                      business top of mind with your community.</p>
                     
                
                
                  </div>
                  </div>
                  </section>

