/*General*/

body{
    font-family: 'Montserrat', sans-serif;
    background-color:white;
}

p{
    font-family: 'Montserrat', sans-serif;
    line-height:30px;
    font-size:20px;
    text-align:center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;

}




section.hero{
    background-color:black;
    height:auto;
}

.video-wrapper{
padding-top:50px;
padding-bottom:50px;


}

video{
width:80%;
display:block;
margin:0 auto;

}
section.app-marketing{

background-color: #17E2AE;
}

img.app-marketing{
width:60%;
display:block;
margin: 0 auto;

}

/*Idea Heading*/
h2.idea-heading{
padding-bottom:30px;
font-size: 50px!important;
line-height:60px;
text-align:center;
color:#2fab8b;
font-weight:900;


}

/*Business Section*/
section.business{
padding-top:50px;
padding-bottom:50px;
height:auto;
padding-left:3%;
background-color: #EDF2FB;
    }



    .business-caption {
        font-size: 20px!important;
        line-height:35px;
    font-family: 'Oswald', sans-serif!important;
    /* width:50%; */
    /* font-size:35px!important; */
    padding-top:5%;padding-left:10%;
   
}
/*Box shadow around cols*/
img.img-shadow{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}






/*Marketing-tips*/
section.marketing-tips{
padding-top:80px;
padding-bottom:80px;
 background-color:#14171A;



}

h2.marketing-heading {
    font-size: 40px!important;
    padding-bottom:50px!important;
    color:#ffffff!important;
    padding-left: 7%!important;
    
}

section.marketing-tips h2{
    font-family:'oswald','sans-serif';
    color:#00E4AC;
    font-size:20px;
    line-height:24px;
    padding-bottom:15px;
    text-align:center;
    line-height:28px;

}

.img-footer-logo{

    width:40%;
}


img.img-fix-image{
height:175px;

}

/*Responsive*/

@media (min-width: 1200px) {
    





}

@media (max-width: 1200px) {
    
    h2.idea-heading {
        font-size: 35px!important;
        margin:0;
        padding-bottom:30px;
    }

    h2.business-caption {
        width:100%;
        /* padding-bottom: 15px!important; */
        font-size: 22px!important;
    }

img.img-fix-padding{
    /* margin-top:30px; */

}

    img.img-fix-image{
        
        height:140px;
        
        }

}

/*Tablet Responsive*/
@media (max-width: 980px) {
    
    h2.idea-heading {
        font-size: 35px!important;
        margin:0;
        padding:0;
    }

    h2.business-caption {
        padding-bottom: 30px!important;
        font-size: 30px!important;
    }

    img.img-fix-image{
       width:100%;
       height:auto;
        
        }

        

}

@media (max-width: 768px) {


    section.business {
    margin-top:50px;


    }

    h2.idea-heading {
        font-size: 26px!important;
        margin:0;
        padding-bottom:15px;
    }

    h2.business-caption {
        padding-bottom: 20px!important;
        font-size: 30px!important;
    }



/*Marketing tips*/
h2.marketing-heading {

    font-size:35px!important;

}
    section.marketing-tips h2{
        text-align:center;
        padding-top:15px!important;
        padding-bottom:15px!important;
        /* font-size:30px!important; */
    }

    img.img-fix-image{
        height:auto;
        
        

}

}

@media (max-width: 600px) {
    h2.idea-heading {
        font-size: 35px!important;
        margin:0;
        padding-bottom:30px;
    }

}


@media (max-width: 480px) {
    h2.idea-heading {
        font-size: 35px!important;
        margin:0;
        padding-bottom:30px;
    }

}

@media (max-width: 375px) {
    h2.idea-heading {
        font-size: 35px!important;
        margin:0;
        padding-bottom:30px;
    }

}