<!-- Hero Video -->
<section class="hero">
  <div class="video-wrapper">
    <video controls="">
      <source
        src="https://s3.envato.com/h264-video-previews/8f222a67-2626-48f5-815b-9002bc03b3f4/917449.mp4"
        type="video/mp4"
      />
    </video>
  </div>
</section>

<section class="app-marketing">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <img
        class="app-marketing"
        src="https://oneappwebsite.firebaseapp.com/assets/images/marketing-board.png"
      />




    </div>
  </div>
</section>

<!--Business Section-->

<section class="business">
  <div class="container">
    <h2 class="idea-heading">One Click App <br><span class="black">Your Business Will Never Be The Same</span></h2>
    <div class="row text-center">
      <!--Gym App-->
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <h2 class="business-caption">Gym Website To App</h2>
        <a [routerLink]="['app-gym']">
          <img
            class="img-fluid img-shadow img-fix-padding"
            src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543481658_1543481658_Fotolia_59212345_Subscription_Monthly_XXL.jpg"
        /></a>
      </div>

      <!--Car Mechanic-->
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <h2 class="business-caption">Car Mechanic Website To App</h2>

        <a [routerLink]="['app-car-mechanic']"
          ><img class="img-fluid"/><img
            class="img-fluid img-shadow"
            src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543428779_1543428779_Fotolia_106760351_Subscription_Monthly_XXL.jpg"
        /></a>
      </div>

      <!--Night Club-->
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <h2 class="business-caption">Nightclub Website To App</h2>
        <a [routerLink]="['app-club']">
          <img
            class="img-fluid img-shadow"
            src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542908570_1542908570_Fotolia_92828012_Subscription_Monthly_XL.jpg"
        /></a>
      </div>

      <!--Dentist-->
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <h2 class="business-caption">Dentist Website To App</h2>
        <a [routerLink]="['app-dentist']">
          <img
            class="img-fluid img-shadow img-fix-padding"
            src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543271774_1543271774_Fotolia_83538473_Subscription_Monthly_XXL.jpg"
        /></a>
      </div>
    </div>
    <!-- row-- -->

    <div class="row text-center pt-4">
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
     
        <a [routerLink]="['app-salon']">
          <img
            class="img-fluid img-shadow "
            src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542567157_1542567157_Fotolia_127254150_Subscription_Monthly_XXL.jpg"
        /></a>
        <h2 class="business-caption">Hair Salon Website To App</h2>
      </div>

      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
       

        <a [routerLink]="['app-cofeeshop']">
          <img
            class="img-fluid img-shadow"
            src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542478238_1542478238_Fotolia_113898765_Subscription_Monthly_XXL.jpg"
        /></a>
        <h2 class="business-caption">Coffee Shop Website To App</h2>
      </div>

      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      
        <a [routerLink]="['app-vets']">
          <img
            class="img-fluid img-shadow img-fix-padding"
            src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543016047_1543016047_107404547_-_5760x3840.jpg"
        /></a>
        <h2 class="business-caption">Vets Website To App</h2>
      </div>

      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        
        <a [routerLink]="['app-schools']">
          <img
            class="img-fluid img-shadow img-fix-image"
            src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543665523_1543665523_Education_school_class_pupils_and_students_in_library_%286%29.jpg"
        /></a>
        <h2 class="business-caption">Schools Website To App</h2>
      </div>
    </div>
  </div>
  <!-- container -->
</section>
<!-- business section -->

<!-- marketing-tips -->

<section class="marketing-tips">
  <div class="container">
    <h2 class="marketing-heading">One App Tips</h2>
    <h3 class="tips-text">Puts Your Business A Smartphone</h3>
    <div class="row">
      <div class="col-md-3">
        <h2>MOST PEOPLE CHECK THEIR SMARTPHONES</h2>
        <img
          class="img-fluid"
          src="https://uploads-ssl.webflow.com/5be05a13d25a5c1149ec044c/5be06b2b86130923ee86dcca_Screen_Shot_2018-08-31_at_14.14.58.png"
        />
      </div>

      <div class="col-md-3">
        <h2>MOST PEOPLE CHECK THEIR SMARTPHONES</h2>
        <img
          class="img-fluid"
          src="https://uploads-ssl.webflow.com/5be05a13d25a5c1149ec044c/5be06b2b86130923ee86dcca_Screen_Shot_2018-08-31_at_14.14.58.png"
        />
      </div>

      <div class="col-md-3">
        <h2>MOST PEOPLE CHECK THEIR SMARTPHONES</h2>
        <img
          class="img-fluid"
          src="https://uploads-ssl.webflow.com/5be05a13d25a5c1149ec044c/5be06b2b86130923ee86dcca_Screen_Shot_2018-08-31_at_14.14.58.png"
        />
      </div>

      <div class="col-md-3">
        <h2>MOST PEOPLE CHECK THEIR SMARTPHONES</h2>
        <img
          class="img-fluid"
          src="https://uploads-ssl.webflow.com/5be05a13d25a5c1149ec044c/5be06b2b86130923ee86dcca_Screen_Shot_2018-08-31_at_14.14.58.png"
        />
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- marketing tips -->

<!-- Banner add -->

<section class="banner">
  <img
    class="img-fluid"
    src="https://oneappwebsite.firebaseapp.com/assets/images/oneappgirl.jpg"
  />
</section>
