<!--understand template-->



<section class="app-marketing">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid img-marketing"
          src="https://oneappwebsite.firebaseapp.com/assets/images/did-you-know.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  
  
  
  <section class="app-story-blog">
      <div class="row">
       
      <div class="col-md-12 text-center">
          <p>Providing your business with information acquired through permission based advertising and real time<br>
             conversations you have with your customers to get an informed decision what right for the customer<br>
             speed up the buying cycle and contemplate the next step.</p>

          <p class="green">“ Business Apps create good ideas in your customer’s mind benefit your business story<br>
          as customers eat your information with their eyes”...</p>
          
          
          <p>By providing brilliant content in <span class="green">Your Business App</span> telling great stories<br>
          allows people understand why your business idea occurred and how it will benefit them in their daily lives..</p>
    
    
      </div>
      </div>
      </section>
  
  
  <section class="app-bstory">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid"
          src="https://oneappwebsite.firebaseapp.com/assets/images/creates-better.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  
  <section class="app-story-blog">
      <div class="row text-center">
       
      <div class="col-md-12 text-center">
          <h2 class="story-headline">Better <span class="green-text"> Understanding</span> </h2> 
          
          <p>Customers who frequently use Your <span class=" green">Business App</span> build a better understanding for what you can do for<br>
           them, they become more dependent on your products and service.</p>  
    
    
      </div>
      </div>
      </section>
  
  
      <section class="app-bstory">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <img
                class="img-fluid"
                src="https://oneappwebsite.firebaseapp.com/assets/images/business-relationships.jpg"
              />
        
            </div>
          </div>
        </section>


        <section class="app-story-blog">
            <div class="row text-center">
             
            <div class="col-md-12 text-center">
                <h2 class="story-headline">Your Business App <span class="green-text"> Builds Relationships</span> </h2> 
              
                
               <p> Building up a recurring business relationship through Your <span class="green">Business App</span> allows you to check what a<br>
                 customer understands about your products or service so you can send tailored messages with<br>
                  information and offers to encourage them to do more business with you.</p>
          
          
            </div>
            </div>
            </section>


            <section class="app-bstory">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <img
                      class="img-fluid"
                      src="https://oneappwebsite.firebaseapp.com/assets/images/customer-analytics.jpg"
                    />
              
                  </div>
                </div>
              </section>


              <section class="app-story-blog">
                  <div class="row text-center">
                   
                  <div class="col-md-12 text-center">
                      <h2 class="story-headline">Your Business App Displays </h2> 
                      <h2><span class="green-text">Customer Analytics.</span></h2>
                    
                      
                      <p>Understanding the activity of your messages displayed in <span class="green">Your Business App</span> is important as the content<br>
                         being put out can be studied and analysed this is known as <span class="green">Traffic Analysis.</span></p>
                
                
                  </div>
                  </div>
                  </section>