

<section class="app-bstory">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid"
          src="https://oneappwebsite.firebaseapp.com/assets/images/digital-marketing.png"
        />
  
      </div>
    </div>
  </section>
  
  <section class="app-story-blog">
    <div class="container">
  <div class="row">
   
  <div class="col-md-12 text-center ">
  <h2 class="green-text">Most People Check Their Smartphones<br>
    At Least Once An Hour.</h2>

    <p>Today, most people check their smartphone at least once an hour<br>
    and a lot of this time is now being devoted to using an app.</p>
  
    <p>In fact most people now spend more time looking at their smartphones than<br>
    they do reading newspapers, watching T.V or Listening to the Radio.</p>
  
  </div>
  </div>
  </div><!--CONTAINER-->
  
  </section>
  
  
  
  <section class="app-bstory">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid"
          src="https://oneappwebsite.firebaseapp.com/assets/images/looking.png"
        />
  
      </div>
    </div>
  </section>
  
  <section class="app-story-blog">
  <div class="row">
   
  <div class="col-md-12 text-center">
  <h2 class="black story-headline">Why Build Your Marketing Effort</h2>
  <h2 class="green-story-headline">Using Your Business App?</h2>
   
  <p>Because of the heavy usage of smartphones, these days using apps<br>
  makes great business sense to promote a business opportunity.</p>
  </div>
  </div>
  
  
  
  <section class="app-bstory">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid"
          src="https://oneappwebsite.firebaseapp.com/assets/images/small-business-image.jpg"
        />
  
      </div>
    </div>
  </section>
  
  <section class="app-story-blog">
  <div class="row">
   
  <div class="col-md-12 text-center">
  <h2 class="black story-headline">Small Business Owners Realize</h2>
  <h2 class="green-text">They Need A Business App</h2>
   
  <p>Customers are asked to Opt-In By Agreement when installing Your Business App which leaves you as a <br>
    small business owner FREE to market to your customer whenever you need to.</p>


  <p>This enables your business to make effective use of your customer’s data to track, analyze and befriend<br>
     visitors and customers who have downloaded Your Business App sending them a tailored response<br>
      messages based on the information you have received via Your Business App.</p>
  
  
  <p>Today's business owners realize the 4P’s in marketing are no longer effective Product, Place, Price and<br>
   Promotion. The focus is now on Permission Based Advertising though Your Business App enabling a <br>
   business owner to deliver highly personalized communications to its customers any place or anytime they require to do so.</p>






  </div>
  </div>
  </section>
  
  
  <section class="app-bstory">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid"
          src="https://oneappwebsite.firebaseapp.com/assets/images/ecommerce.png"
        />
  
      </div>
    </div>
  </section>
  
  
  
  
  
  
