<div class="dark">

    <div class="container">
      <!-- centers content -->
      <section class=" blog-cards">
        <div class="logo">
          <img
            class="img-fluid one-click-logo"
            src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543403541_1543403541_Logo_web.png"
          />
    
          <h2 class="top-website">Salon App</h2>
        </div>
        <!-- logo -->
      </section>
    
      <!--
        **************************************************************************************************************************************
      -->
      <!-- blog1 -->
      <!--
        **************************************************************************************************************************************
      -->
    
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <img
              class="img-fluid thumbnail-img"
              src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542567157_1542567157_Fotolia_127254150_Subscription_Monthly_XXL.jpg"
            />
    
            <div class="blog-entry pt-4">
             <p>Showcase your Salon products and service using image galleries, or through mobile marketing push message advertising.</p>
            <p>Smart video marketing plays Salon video right in your customer's hand even in offline mode.</p>
            <p>Endless possibilities work for your Salon business, share Salon special offers, coupons referrals with customers where ever theymaybe.</p>
            <p>One click login introduces yourself to using a Salon App and gets access to all our features quickly and easily.</p>
            </div>
            <!-- blog-content -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog2 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542567303_1542567303_1_uBcu0QwuuVtdjae3pb_BcQ_%281%29.png"
                  />
    
                  <h2 class="gym-title ">
                      Salon Loyalty App
                  </h2>
    
                  <div class="blog-entry">
                    <p>
                        Everyone knows its more expensive to acquire new customers than to keep existing customers.
                    </p>
                    <p>People love Salon business that has meaning for them and gives back to their community with great hairstyles and treatments </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
            </div>
            <!-- col-12 -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog3 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542567670_1542567670_Fotolia_137607855_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Reward Customers</h2>
    
                  <div class="blog-entry">
                    <p>
                        Use loyalty coupons within your Salon app that have  the incentive digital coupon software working to share the love with clients, giving reasons to keep them coming back for more of your fabulous hairstyles and delightful hair treatments spending money
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
            </div>
            <!-- col-12 -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog4 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542568306_1542568306_Fotolia_79047688_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">
                      Reward Loyalty Using Mobile Coupons
                  </h2>
    
                  <div class="blog-entry">
                    <p>
                        Salon App has a built-in scanner to collect points, track statistics on any printed promotion like a receipt and issue in app vouchers that can be redeemed in any of your Salon stores</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog5 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542568614_1542568614_Sketch_Circular_142_appDevelppment.jpg"
                  />
    
                  <h2 class="gym-title">Your Salon App</h2>
    
                  <div class="blog-entry">
                    <p>
                    Create opportunities to acquire new clients daily by reaching out to them within your Salon app. </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog6 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542568981_1542568981_Fotolia_128828047_Subscription_Monthly_XXL.jpg"/>
    
                  <h2 class="gym-title">Mobile Marketing Use Web Push Marketing Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                        Web push messages are a brilliant marketing tool to use in your mobile advertising to engage Salon clients in real-time marketing,<br> displaying special offers, coupons, making announcements based on user behavior.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog6 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542569241_1542569241_shutterstock_73369957.jpg"/>
                  />
    
                  <h2 class="gym-title"> Stay Always Connected With Push Messages </h2>
    
                  <div class="blog-entry">
                    <p>
                        Endless possibilities of working for your Salon business, share Salon special offers, referrals with clients wherever they may be.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog7 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542569494_1542569494_Fotolia_92087803_Subscription_Monthly_XL.jpg"
                  />
    
                  <h2 class="gym-title">Targeting More Customers </h2>
    
                  <div class="blog-entry">
                    <p>
                        Build new segments of your consumer base by focusing on targeting more consumers.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog8 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542569844_1542569844_Fotolia_65643317_Subscription_XXL.jpg"/>
    
                  <h2 class="gym-title">Personalized Web Push Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                        Use personalized web push messages to connect with users, even if they are not in your Salon app they can still view these welcoming messages and innovative offers on their smartphones.  </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog9 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542570120_1542570120_Fotolia_63142983_Subscription_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Sending Timely Marketing Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                        Automate your Salon Web app promotions by scheduling Salon promotions to go out at a time that is convenient for users to view your marketing content.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog10 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542570775_1542570775_Fotolia_95648583_Subscription_Monthly_XL.jpg"/>
                  <h2 class="gym-title">Video App Marketing</h2>
    
                  <div class="blog-entry">
                    <p>
                        Video app marketing makes great business since it's a great platform to engage and collect qualified leads as you acquire clients converting them from prospects as they like your Salon videos and download your Salon app.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 11 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542571118_1542571118_Fotolia_100301601_Subscription_Monthly_XXL.jpg"
                  />

                  <h2 class="gym-title">Video App Comments</h2>
    
                  <div class="blog-entry">
                    <p>
                        Read consumer comments on how your Salon videos are performing and what your audience think about them.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 12 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542621941_1542621941_Fotolia_118348967_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Video App Measurement</h2>
    
                  <div class="blog-entry">
                    <p>
                        Measure the impact your Salon videos are having by understanding how you can improve their content by creating better product offerings</p>
                  
                      </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 13 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542817248_1542817248_shutterstock_281652062.jpg"
                  />
    
                  <h2 class="gym-title">Build Your Dental Brand 24/7</h2>
    
                  <div class="blog-entry">
                    <p>
                        By using a dental Marketing app,  you can showcase Dental videos, use web Dental app messages and loyalty rewards as you build your Dental Brand Awareness on consumers smartphones right in your patients hand even in offline mode.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 14 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542622259_1542622259_Fotolia_103935294_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Integrate Online Booking Requests</h2>
    
                  <div class="blog-entry">
                    <p>
                        New or existing clients can interact with your salon by sending an inquiry or requesting a booking as they view your menu of treatments or prices it's an easy and quick way to provisionally book a Salon appointment.
              </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            
            
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 18 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542653929_1542653929_Fotolia_71103166_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Reduce Client No-Shows</h2>
    
                  
    
                  <div class="blog-entry">
                    <p>
                        Send appointment reminders to your Salon clients wherever they are and reduce no-shows.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 19 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542654403_1542654403_findBestSolution4starz_02.jpg"
                  />
    
                  <h2 class="gym-title">Makes Great Business Sense</h2>
    
                  <div class="blog-entry">
                    <p>
                        Everyday acquiring new and retaining existing customers by  creating a positive reaction to your products and service
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
    
          <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <img
                  class="img-fluid thumbnail-img"
                  src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542655334_1542655334_Fotolia_110259505_Subscription_Monthly_XL.jpg"
                />
    
                <h2 class="gym-title">
                    Build Your Salon Brand 24/7
                </h2>
    
                <div class="blog-entry">
                  <p>
                      By using Salon Marketing, showcase videos use web app messages and loyalty rewards as you build your Salon Brand Awareness on consumers smartphones<br> right in your customers hand even in offline mode.
                  </p>
                </div>
                <!-- blog-content -->
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->
    
        <!--
          ---******************************************************************************************************************************
        -->


<!-- Blog 21 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542657268_1542657268_54634453454356_%2818%29.jpg"
                  />
      
                  <h2 class="gym-title">
                      Salon Social Media Marketing
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                        As a small business, you have something that Salon clients want to encourage your Salon app users on social media
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
      
          <!--
            ---******************************************************************************************************************************
          -->
       
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543327740_1543327740_Fotolia_138128473_Subscription_Monthly_XXL.jpg"/>
      
                  <h2 class="gym-title">
                      Feature Packed
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                        Every feature included in our app for Salons have been developed to grow your business. 
                    </p>

                    <p>To recommend just click in the app is simple to use.</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->


            <!--
            ---******************************************************************************************************************************
          -->
       
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543328415_1543328415_Sketch_concept_ProjectManagement_0108.jpg"/>
      
                  <h2 class="gym-title">
                      One Click Your Salon App Logo
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                      Salon clients ware your Salon Logo working as your fully functional downloaded Salon app displaying a badge of honor on their smartphone 24/7.   

                   </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->


            <!--
            ---******************************************************************************************************************************
          -->
       
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543328919_1543328919_findBestSolution4u_20.jpg"/>
      
                 
      
                  <div class="blog-entry">
                    <p>
                        Our experts will analyze your business and show how a One app will benefit you
                    </p>


                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->


           
          
 



  

      <!-- container --></div>
    </div><!--dark-->

