

<section class="app-bstory">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <img
        class="img-fluid"
        src="https://oneappwebsite.firebaseapp.com/assets/images/smiling.png"
      />

    </div>
  </div>
</section>

<section class="app-story-blog">
  <div class="container">
<div class="row">
 
<div class="col-md-12 text-center ">
<h2 class="green-text">HOW TO KEEP YOUR BUSINESS RELEVANT<br>
  In Today's Competitive Marketplace?</h2>
  <h4 class="business-story">Every business has a story to tell <span class="yours-span">what's yours?</span></h4>

<p>Why should you tell your Story in Your Business App? The simple answer is everyone is using<br>
  smart phones these days.</p>
  <p>Nowadays, small business owners realize they require an optimized website with inbuilt app<br>
    marketing to keep their business “top of mind” with customers to stay relevant in today's competitive marketplace.</p>
<p>The One App Team of app developers will create Your Business App a app designed to your <br>
  business requirement that customers will love showcasing your products and services.
</p>

<img class="img-fluid" src="https://quickappswebsite.firebaseapp.com/assets/images/tips.png"/>
<h4>How to Put Your Business On a Smartphone?</h4>
<p>To find out how Your Business App works please read through our website 
  with tips included and download our app.</p>

</div>
</div>
</div><!--CONTAINER-->

</section>

<!-- 
<section class="app-store">

<div class="row">
  <div class="col-md-7">
<img class="oneapp-img" src="https://oneappwebsite.firebaseapp.com/assets/images/oneappgirl.jpg"/>
  </div>

  <div class="col-md-4">
<h2>Download Our App!</h2>

<h3>ONE APP BUILDS BUSINESS</h3>
<h3>CREATING CUSTOMERS IN ONE APP</h3>

  </div>
</div>



</section> -->


<section class="app-bstory">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <img
        class="img-fluid"
        src="https://oneappwebsite.firebaseapp.com/assets/images/business-starts.jpg"
      />

    </div>
  </div>
</section>

<section class="app-story-blog">
<div class="row">
 
<div class="col-md-12 text-center">
<h2 class="black story-headline">YOUR BUSINESS STARTS IN YOUR</h2>
<h2 class="green-story-headline">CUSTOMERS MIND</h2>
 
<p>Create the stories you need to tell, send the alerts customers need to know<br>
  In Your Business App on your customers smartphone...</p>
</div>
</div>



<section class="app-bstory">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <img
        class="img-fluid"
        src="https://oneappwebsite.firebaseapp.com/assets/images/business-owner.png"
      />

    </div>
  </div>
</section>

<section class="app-story-blog">
<div class="row">
 
<div class="col-md-12 text-center">
<h2 class="black story-headline">Why A Small Business Needs</h2>
<h2 class="green-text">One App Marketing?</h2>
 
<p>Think about this Idea as a small business owner what would it mean to your business right now having<br>
   your logo displayed as a traveling companion in Your Business App on a customer's smartphone?</p>
 <p>Your Business App is where your online and offline business coexist through your app's functionality,<br>
   asking why, who, and what your customers require.</p>
<p>Your App provides a greater understanding what people are shopping for and how your business<br>
   can serve them better, allowing your business to predict who, what and when someone is going to buy.</p>
</div>
</div>
</section>


<section class="app-bstory">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <img
        class="img-fluid"
        src="https://oneappwebsite.firebaseapp.com/assets/images/create-story.jpg"
      />

    </div>
  </div>
</section>





