<!--Logo Lives template-->



<section class="app-marketing">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid img-marketing"
          src="https://oneappwebsite.firebaseapp.com/assets/images/smiling-people.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  

  
  
  
  <section class="app-story-blog">
      <div class="row text-center">
       
      <div class="col-md-12 text-center">
          <h2 class="story-headline">Your Business App Helps  </h2> 
          <h2><span class="green-text">Identify What Customers Are Asking For</span></h2>
          
          <p>Customers who frequently use Your <span class=" green">Business App</span> build a better understanding for what you can do for<br>
           them, they become more dependent on your products and service.</p>  
           
           <p><span class=" green">Your Busines App </span>
            Your Busines App can create messages that ensure repeated app usage as they match customers<br>
             interest by providing and targeting customers wants and needs as you identify what your customers are asking for.</p>
    
      </div>
      </div>
      </section>
  
  
      <section class="app-bstory">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <img
                class="img-fluid"
                src="https://oneappwebsite.firebaseapp.com/assets/images/generate.jpg"
              />
        
            </div>
          </div>
        </section>


        <section class="app-story-blog">
            <div class="row text-center">
             
            <div class="col-md-12 text-center">
                <h2 class="story-headline">Personalize Your Marketing to Consumers  </h2> 
              <h2><span class="green-text"> Within Your Business App</span></h2>
                
              <p>Personalized messaging is about being relevant to the consumers through persuasion.</p>


    <p>Today's empowered consumers do not want or wish to be sold to as they have a great choice of where to<br>
       buy goods and services both online and offline.</p>
                  
                  
       <p><span class="green">Your Business App</span> gives your brand the media presents a business requires on Social Media where<br>
                   consumers are sharing their thoughts and feelings about your brand.</p>
          
          
            </div>
            </div>
            </section>


            <section class="app-bstory">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <img
                      class="img-fluid"
                      src="https://oneappwebsite.firebaseapp.com/assets/images/trends.jpg"
                    />
              
                  </div>
                </div>
              </section>


              <section class="app-story-blog">
                  <div class="row text-center">
                   
                  <div class="col-md-12 text-center">
                      <h2 class="story-headline">Personalized <span class="green-text">Marketing </span> </h2> 
                      <p class="green">"Allows your business to remarket to your customers enticing them to do business with your company<br>
                         anyplace or anytime through your business app"...</p>
                    
                         <p>As a business owner you can learn about what your customers wants and needs are building your<br>
                           customer profiles through knowledge acquired through Your <span class="green">Business App</span> enables you as a business owner<br>
                            to gain insights into what your customers needs are their buying habits and creating you own metadata about your customers.</p>


                         <p>Once you understand what your customers are doing what they are looking for in their shopping habits<br>
                          you can then tailor your special offers, coupons or make announcements to them through personalized messages in your app.</p>
                     
                
                
                  </div>
                  </div>
                  </section>
