<!--Logo Lives template-->



<section class="app-marketing">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid img-marketing"
          src="https://oneappwebsite.firebaseapp.com/assets/images/your-mobile-app.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  

  
  
  
  <section class="app-story-blog">
      <div class="row text-center">
       
      <div class="col-md-12 text-center">
          <h2 class="story-headline">Your Iconic Logo Lives <span class="green-text">in Your Business App.</span>  </h2> 
          
          
          <p>We at One App can provide your company an iconic logo with stunning visual design packed with app<br>
             functionality that lives in <span class="green">Your Business App</span> on your customer smartphone 24/7.</p>


          <p>Capturing new business, building loyalty by humanizing your brand through the conversations held with<br>
             consumers through <span class="green">Your Business App.</span></p>
          
          
          <p>Humanized conversations help consumers feel that they are important to your brand and also<br>
           demonstrate through <span class="green">Your Business App</span> that people are important to your brand you’re invested in<br>
            them and you know your customer.</p>
      </div>
      </div>
      </section>
  
  
      <section class="app-bstory">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <img
                class="img-fluid"
                src="https://oneappwebsite.firebaseapp.com/assets/images/push-image.jpg"
              />
        
            </div>
          </div>
        </section>


        <section class="app-story-blog">
            <div class="row text-center">
             
            <div class="col-md-12 text-center">
                <h2 class="story-headline">Using Push Promotion Encourages </h2> 
              <h2><span class="green-text">Repeat Visits To Your Business App.</span></h2>
              <p>As people view your special offers/announcements on their smartphones<br>
              Your Business App increases customer's engagement improving repeat visits to your business location<br>
               through the use of push promotions to customers smartphones.</p>
          
          
            </div>
            </div>
            </section>


            <section class="app-bstory">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <img
                      class="img-fluid"
                      src="https://oneappwebsite.firebaseapp.com/assets/images/flash-deal.jpg"
                    />
              
                  </div>
                </div>
              </section>


              <section class="app-story-blog">
                  <div class="row text-center">
                   
                  <div class="col-md-12 text-center">
                      <h2 class="story-headline">Your Great Deals Appear 24/7 </h2> 
                      <span class="green-text">On A Customers Smartphone. </span>
                      <p><span class="green">Your Business App</span> is suitable for all business types who would like to engage with customers<br>
                          by sending information, special offers, coupons, straight to their customer smartphone.</p>
                     
                
                
                  </div>
                  </div>
                  </section>
