<div class="dark">

    <div class="container">
    
      <!-- centers content -->
      <section class=" blog-cards">
         
        <div class="logo">
          <img
            class="img-fluid one-click-logo"
            src="https://s3-us-west-2.amazonaws.com/xfunnels-builder/user-images/5bc3940a6b6fef12bbf1407e/1543403541_1543403541_Logo_web.png"
          />
    
          <h2 class="top-website">Cafe App</h2>
        </div>
        <!-- logo -->
      </section>
    
      <!--
        **************************************************************************************************************************************
      -->
      <!-- blog1 -->
      <!--
        **************************************************************************************************************************************
      -->
    
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <img
              class="img-fluid thumbnail-img"
              src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542474108_1542474108_Fotolia_111421383_Subscription_Monthly_XXL.jpg"
            />
    
            <div class="blog-entry pt-4">
             <p>Showcase your Cafe products and service using image galleries, or through mobile marketing push message advertising.</p>
            <p>Smart video marketing plays Dental video right in your client's hand even in offline</p>
            <p>Endless possibilities works for your Dental business, share Cafe special offers, coupons referrals with customers where ever they
                may be.</p>
            <p>One click login introduces yourself to using a Cafe App and gets access to all our features quickly and easily.</p>
            </div>
            <!-- blog-content -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog2 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542474520_1542474520_1_uBcu0QwuuVtdjae3pb_BcQ_%281%29.png"
                  />
    
                  <h2 class="gym-title ">
                      Cafe Loyalty App
                  </h2>
    
                  <div class="blog-entry">
                    <p>
                        People love Cafe business that has meaning for them and gives back to their community with great tasting coffee 
                    </p>
                    <p>Everyone knows its more expensive to acquire new customers than to keep existing customers.</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
            </div>
            <!-- col-12 -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog3 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542474850_1542474850_Fotolia_126932133_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Reward Customers</h2>
    
                  <div class="blog-entry">
                    <p>
                        Use loyalty coupons within your Cafe app that have the incentive digital coupon software working to share the love with customers giving reasons to keep them coming back for more of your delicious coffee and delightful cafe snacks spending money.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
            </div>
            <!-- col-12 -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog4 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542475075_1542475075_Fotolia_72821478_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">
                      Reward Loyalty Using Mobile Coupons
                  </h2>
    
                  <div class="blog-entry">
                    <p>
                        Cafe App has a built-in scanner to collect points, track statistics on any printed promotion like a receipt and issue in app vouchers that can be redeemed in any of your Cafe stores
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog5 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542475836_1542475836_Sketch_Circular_142_appDevelppment.jpg"
                  />
    
                  <h2 class="gym-title">Your Cafe App</h2>
    
                  <div class="blog-entry">
                    <p>
                        Create opportunities to acquire new customers daily by reaching out to them within your Cafe app, </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog6 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542476204_1542476204_Fotolia_95194309_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Mobile Marketing Use Web Push Marketing Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                        Web push messages are a brilliant marketing tool to use in your mobile advertising to engage Cafe customers in real-time marketing, displaying special offers, coupons, making announcements based on user behavior.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog6 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542476491_1542476491_Fotolia_136303133_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title"> Stay Always Connected With Push Messages </h2>
    
                  <div class="blog-entry">
                    <p>
                        Endless possibilities of working for your cafe business, share Cafe special offers, referrals with customer wherever they may be.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog7 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542476943_1542476943_Fotolia_136425147_Subscription_Monthly_XXL.jpg"
                  />
    
                  <h2 class="gym-title">Targeting More Customers </h2>
    
                  <div class="blog-entry">
                    <p>
                        Build new segments of your consumer base by focusing on targeting more consumers
                        </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog8 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542477311_1542477311_Fotolia_75599110_Subscription_Monthly_L.jpg"
                  />

    
                  <div class="blog-entry">
                    <p>
                        Use personalized web push messages to connect with users, even if they are not in your Cafe app they can still view these welcoming messages and innovative offers on their smartphones.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog9 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542477574_1542477574_Fotolia_93659484_Subscription_Monthly_XXL.jpg"/>
    
                  <h2 class="gym-title">Sending Timely Marketing Messages</h2>
    
                  <div class="blog-entry">
                    <p>
                        Automate your Cafe Web app promotions by scheduling coffee shop promotions to go out at a time that is convenient for users to view your marketing content.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- blog10 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542477876_1542477876_Sketch_Circular_144_appDevelppment.jpg"
                  />
    
                  <h2 class="gym-title">Video App Marketing</h2>
    
                  <div class="blog-entry">
                    <p>
                        Video app marketing makes great business since it's a great platform to engage and collect qualified leads as you acquire customers converting them from prospects as they like your Cafe videos and download your cafe app.    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 11 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542478238_1542478238_Fotolia_113898765_Subscription_Monthly_XXL.jpg"
                  />

                  <h2 class="gym-title">Video App Comments</h2>
    
                  <div class="blog-entry">
                    <p>
                        Read consumer comments on how your Cafe videos are performing and what your audience think about them.    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 12 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542478582_1542478582_Fotolia_121398107_Subscription_Monthly_XL.jpg"
                  />
    
                  <h2 class="gym-title">Video App Measurement</h2>
    
                  <div class="blog-entry">
                    <p>
                        Measure the impact your Cafe videos are having by understanding how you can improve their content by creating better product offerings</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 13 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542479483_1542479483_shutterstock_244153291.jpg"
                  />
    
                  <h2 class="gym-title">Smart Video Marketing</h2>
    
                  <div class="blog-entry">
                    <p>
                        A picture is worth 1000 words a video is worth a million, video, app users get to see and hear about what you Cafe does on the move as they play your cafe video right in their hands even in offline mode    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 14 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542479916_1542479916_findBestSolution4starz_02.jpg"
                  />
    
                  <h2 class="gym-title">Makes Great Business Sense</h2>
    
                  <div class="blog-entry">
                    <p>
                        Everyday acquiring new and retaining existing customers by creating a positive reaction to your products and service.
                    </p>
                    <p>By using video marketing, web app messages and loyalty rewards as you build your Cafe Brand Awareness on consumers smartphones right in your customers hand even in offline mode.</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            
            
    
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 18 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542481093_1542481093_Fotolia_94420702_Subscription_Monthly_XXL.jpg"/>
    
                  <h2 class="gym-title">Manage your cafe business in your app</h2>
    
                 
    
                  <div class="blog-entry">
                    <p>
                        Ask questions of your data and find out in real time how your cafe business is performing create analytics that will help you decide further marketing strategies.
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
    
            
            
            
            
            <!--
              **************************************************************************************************************************************
            -->
            <!-- Blog 19 -->
            <!--
              **************************************************************************************************************************************
            -->
    
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542481422_1542481422_Sketch_Circular_159_appDevelppment.jpg"
                  />
    
                  <h2 class="gym-title">Cafe Social Media Marketing</h2>
    
                  <div class="blog-entry">
                    <p>
                        As a small business, you have something that customers want to encourage your Cafe app users to share your app on social media
                    </p>
                    <p>Social Media is a good way to showcase your Cafe app as users share it showing people you are an expert in providing a great Cafe experience.</p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
    
          <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <img
                  class="img-fluid thumbnail-img"
                  src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542529693_1542529693_Fotolia_84924659_Subscription_Monthly_XL.jpg"
                />
    
                <h2 class="gym-title">
                    One Click Installation
                </h2>
    
                <div class="blog-entry">
                  <p>
                      One click login introduce yourself to using a Cafe App and get access to all our features quickly and easily.
                  </p>
                </div>
                <!-- blog-content -->
              </div>
              <!-- blog-content -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->



         <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543331189_1543331189_Fotolia_138128473_Subscription_Monthly_XXL.jpg"
                  />
      
                  <h2 class="gym-title">
                      Feature Packed
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                        Every feature included in our app for Cafe have been developed to grow your business. 
                    </p>

                    <p>
                        Display all your relevant information such as opening hours,  location with driving directions, special offers and more
                    </p>
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->


             <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543331755_1543331755_Sketch_concept_ProjectManagement_0108.jpg"
                  />
      
                  <h2 class="gym-title">
                      One Click Your Night Club App Logo
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                        Cafe customers ware your Cafe Logo working as your fully functional downloaded Cafe app displaying a badge of honor on their smartphone 24/7.
                    </p>

                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->



            <!-- Blog 20 -->
          <!--
            **************************************************************************************************************************************
          -->
    
          <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <img
                    class="img-fluid thumbnail-img"
                    src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1543332110_1543332110_findBestSolution4u_20.jpg"
                  />
      
                  <h2 class="gym-title">
                      Request a Free Consultation
                  </h2>
      
                  <div class="blog-entry">
                    <p>
                        Our experts will analyze your business and show how a Sappsumma app will benefit you
                    </p>

                  </div>
                  <!-- blog-content -->
                </div>
                <!-- blog-content -->
              </div>
              <!-- col-12 -->
            </div>
            <!-- card-body -->



            <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <img
                      class="img-fluid thumbnail-img"
                      src="https://xfunnels-builder.s3.us-west-2.amazonaws.com/user-images/5bc3940a6b6fef12bbf1407e/1542530199_1542530199_Fotolia_84924685_Subscription_Monthly_XXL.jpg"
                    />
        
                    <h2 class="gym-title">
                        One Click Recommendations
                    </h2>
        
                    <div class="blog-entry">
                      <p>
                          To recommend just click share in the app it simple to use.
                      </p>
  
                    </div>
                    <!-- blog-content -->
                  </div>
                  <!-- blog-content -->
                </div>
                <!-- col-12 -->
              </div>
              <!-- card-body -->
         
    
        <!--
          ---******************************************************************************************************************************
        -->
    
        <!-- contact form -->
        
      </div>
      <!-- container -->
    </div>
    </div><!--dark-->

