<!--Marketing Template-->


<section class="app-marketing">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid img-marketing"
          src="https://oneappwebsite.firebaseapp.com/assets/images/apps-for-marketing.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  
  
  
  <section class="app-bstory">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid"
          src="https://oneappwebsite.firebaseapp.com/assets/images/girl-laptop.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  
  <section class="app-story-blog">
      <div class="row">
       
      <div class="col-md-12 text-center">
      <h2 class="black story-headline">Why Small Business Owners Are Using</h2>
      <h2 class="green-text">Business Apps In Their Marketing Mix?</h2>
       
      <p>The Marketing Mix known as price, product, place and promotion worked when there was only physical<br> stores as people would call to view your products and services.</p>


<p>Everything has now changed through Business App Marketing every action that is taken, takes the<br> consumer into consideration.</p>


<p>Business App Marketing personalizes your business offering finding the right product, sending<br> personalized recommendations to help the consumer to get the right product at a sensible price by<br>
   magic using humanized and tailored marketing to a customer's smartphone to keep your business<br>
    relevant in today's competitive marketplace.</p>


<p>As everyone is using a smartphone these days having Your Business App installed on a consumer's<br>
   smartphone gives a business a tremendous competitive advantage over the competition.</p>
    
    
    
    
    
    
      </div>
      </div>
      </section>
  
  
  <section class="app-bstory">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid"
          src="https://oneappwebsite.firebaseapp.com/assets/images/understanding.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  
  
  
  
