<!--Customers template-->



<section class="app-marketing">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img
          class="img-fluid img-marketing"
          src="https://oneappwebsite.firebaseapp.com/assets/images/women-ipod.jpg"
        />
  
      </div>
    </div>
  </section>
  
  
  

  
  
  
  <section class="app-story-blog">
      <div class="row text-center">
       
      <div class="col-md-12 text-center">
          <h2 class="story-headline">Market to Customers  </h2> 
          <h2><span class="green-text">Within Your Business App.</span></h2>
          
          <p>Anyplace or anytime Your <span class="green">Business App</span> enables push notifications<br>
          to be sent to your customers smartphone your business is <span class="green">FREE</span> to market<br>
          to your customer's within your app whenever you require it.</p>
    
      </div>
      </div>
      </section>
  
  
      <section class="app-bstory">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <img
                class="img-fluid"
                src="https://oneappwebsite.firebaseapp.com/assets/images/app-group.jpg"
              />
        
            </div>
          </div>
        </section>


        <section class="app-story-blog">
            <div class="row text-center">
             
            <div class="col-md-12 text-center">
                <h2 class="story-headline">Sending Business Deals  </h2> 
              <h2><span class="green-text"> To Your Customers Smartphone...</span></h2>
                
    
          
          
            </div>
            </div>
            </section>


            <section class="app-bstory">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <img
                      class="img-fluid"
                      src="https://oneappwebsite.firebaseapp.com/assets/images/sale.jpg"
                    />
              
                  </div>
                </div>
              </section>


              <section class="app-story-blog">
                  <div class="row text-center">
                   
                  <div class="col-md-12 text-center">
                      <h2 class="story-headline">Your Business App Attracts New Customers  </h2> 
                      <h2><span class="green-text">  Boosts Mobile Engagement?</span></h2>
                      
                      <p>Mobile Smart Marketing is a lifestyle choice that consumers make as they agree to Opt-In to <br>
                        <span class="green">Your Business App</span> by downloading Your Business App to their smartphone.</p>


<p>Consumers use <span class="green">Your Business App</span> daily as they interact with your brand as a small business owner your<br>
   business can follow what's trending in your business and identify what Your Business App users are<br>
    looking for through personalization.</p>


<p><span class="green">Your Business App</span> enables your business to create app messages that match your user profile by helping <br>
  your business determine what products or content the consumers are asking for as everyday people are<br>
   searching on their smartphones, for as business like yours.</p>
                
                  </div>
                  </div>
                  </section>

